<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/products/css/style.css}">
    <script type="text/javascript" th:src="@{/products/js/script.js}"></script>
</head>
<body>
    <h3>Check and confirm your order</h3>

    <form th:action="@{/products/new}" method="post">
        <table>
            <tr>
                <th>Product name</th>
                <th>Price per item</th>
                <th>Count</th>
                <th>Total price</th>
                <th>Add to order</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:if="" id="name" th:text="${product.getName()}"></td>
                <td th:id="${product.getId()} + 'price'" th:text="${product.getPrice()}"></td>
                <td id="number">
                    <label>
                        <input th:id="${product.getId()}" th:class="${product.getId()} + 'count_class'" class="products_count" min="0" value="0" max="9" type="number" onchange="setTotalPrice(this)">
                    </label>
                </td>
                <td th:id="${product.getId()} + 'total_price'" class="total_price">0.00</td>
                <td>
                    <input th:id="${product.getId()}" th:class="${product.getId()} + 'localStorage_class'" type="button" value="Add to order" onclick="addElementToLocalStorage(this)">
                </td>
            </tr>
        </table>
        <br>
        <input class="order" th:type="submit" value="Create order">
        <input class="order" type="button" value="Reset order" onclick="clearLocalStorage()">
    </form>
    <script>
        window.fillTable();
    </script>


</body>
</html>